{{#section 'head'}}
    <link href="/js/lib/quill.snow.css" rel="stylesheet">
{{/section}}
{{#section 'scripts'}}
    <script src="/js/lib/quill.min.js"></script>
    <script type="application/javascript" defer src="/js/pages/editor.js"></script>
{{/section}}
<div class="custom--draft">
    <ul class="nav nav-pills nav-justified form-tabs mb-4">
        <li class="nav-item">
            <a href="#" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 active">
                <i class="mdi fas fa-info-circle mr-1"></i>
                <span class="font-weight-bold">Editor</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 disabled">
                <i class="mdi fas fa-eye mr-1"></i>
                <span class="font-weight-bold">Preview</span>
            </a>
        </li>
    </ul>
    <br />
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div>
                <div class="mb-4 font-weight-bold d-flex justify-content-between">
                    <div>What's Happening</div>
                    <div>
                        <a href="javascript:void(0);" id="discardButton" class="btn btn-block btn-outline-danger"
                            role="button"><i class="far fa-trash-alt"></i>&nbsp;Discard</a>
                    </div>
                </div>
            </div>
            <!-- display flash messages -->
            {{> flash}}
            <!-- display flash messages -->
            <input type="hidden" id="csrf" name="_csrf" value="{{_csrf}}" />
            <input type="hidden" id="slugName" name="slugName" value="{{slugName}}" />
            <input type="hidden" id="projectId" name="projectId" value="{{projectId}}" />
            <div id="editor" class="custom--editor" style="background-color:{{bgColor}};">{{{content}}}</div>
        </div>
        <div class="col-lg-3 m-auto">
            <h1 class="lead font-weight-normal text-center mt-3 mb-3">Select a Background</h1>
            <div class="color-picker">
                {{#each colors}}
                    <div data-col="{{this}}" style="background-color:{{this}}"></div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 mt-3 mb-3">
            <button id="buttonNext" class="btn btn-lg btn-primary float-right" type="submit">
                <span id="spinner" class="d-none spinner-border spinner-border-sm mr-1" role="status"
                    aria-hidden="true"></span>
                <span class="text">See Preview</span>
            </button>
        </div>
    </div>
</div>