{{#section 'head'}}
    <!-- open graph -->
    <meta property="og:title" content="onepagetweets - {{username}}">
    <meta property="og:type" content="product">
    <meta property="og:description" content="{{summary}}">
    <meta property="og:url" content="{{baseUrl}}/{{username}}">
    <meta property="og:image" content="/images/profile.png">
    <meta property="og:image:alt" content="{{username}}">
    <!-- twitter -->
    <meta name="twitter:title" content="onepagetweets - {{username}}">
    <meta name="twitter:description" content="{{summary}}">
    <meta name="twitter:image" content="{{baseUrl}}/images/profile.png">
    <meta name="twitter:site" content="@onepagetweets">
    <meta name="twitter:creator" content="@onepagetweets">
    <!-- css -->
    <link href="/js/lib/tagify.css" rel="stylesheet">
{{/section}}
{{#section 'scripts'}}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="application/javascript" src="/js/lib/tagify.min.js" defer></script>
    <script type="application/javascript" defer src="/js/pages/home/details.js"></script>
{{/section}}
<div class="page details-page">
    <div class="row">
        <div class="col-sm">
            {{#if preview}}
                <div class="alert alert-warning fade show" role="alert">
                    You are currently viewing in <strong class="mr-2">Preview mode</strong><i class="fas fa-eye"></i>
                </div>
            {{/if}}
            <div class="container">
                <div class="wrapper">
                    <h1 class="headline">{{headline}}</h1>
                    <h2 class="fullname">{{fullName}}</h2>
                    <p class="about">{{summary}}</p>
                    <div>
                        <h6 class="font-14 text-dark ml-1">Skills</h6>
                        <input type="hidden" name="techStackValue" id="techStackValue" value="{{techStack}}" />
                        <input id="techStack" type="text" readonly class="tagify form-control-plaintext border-0"
                            value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm twitter">
            <a class="twitter-timeline" href="https://twitter.com/{{username}}?ref_src=twsrc%5Etfw">Loading...</a>
        </div>
    </div>
</div>