{{#section 'head'}}
    <!-- Search Engine -->
    <meta name="description" content="Your marketplace for buying & selling micro projects">
    <meta name="image" content="{{baseUrl}}/images/profile.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="One Page Tweets">
    <meta itemprop="description" content="Promote yourself and use the power of tweets to build your profile">
    <!-- open graph -->
    <meta property="og:title" content="One Page Tweets - Your personal homepage">
    <meta property="og:type" content="product">
    <meta property="og:description" content="Create your free, one-page website in just few clicks">
    <meta property="og:url" content="{{baseUrl}}">
    <meta property="og:image" content="{{baseUrl}}/images/profile.png">
    <meta property="og:image:alt" content="opt">
    <!-- twitter -->
    <meta name="twitter:title"
        content="One Page Tweets - Promote yourself and use the power of tweets to build your profile">
    <meta name="twitter:description" content="Create your free, one-page website in just few clicks">
    <meta name="twitter:image" content="{{baseUrl}}/images/profile.png">
    <meta name="twitter:site" content="@onepagetweets">
    <meta name="twitter:creator" content="@onepagetweets">
{{/section}}
{{#section 'scripts'}}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{/section}}
<div class="page home-page">
    <!-- display flash messages -->
    {{> flash}}
    <!-- display flash messages -->
    <br />
    {{#if projExist}}
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-6 mx-auto col-md-4 order-md-2">
                        <img src="/images/profile.png" />
                    </div>
                    <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
                        <h1 class="mb-3">Design, and publish more words with Onepagetweets</h1>
                        <p class="lead mb-4">
                            Quickly, design, and create tweets that exceeds more than 140 characters.
                            Click the button below to get started
                        </p>
                        <div class="d-flex flex-column flex-md-row">
                            <h1 class="display-5 text-dark"><a href="/post/about"
                                    class="btn btn-lg btn-primary shadow-sm">
                                    <i class="far fa-edit fa-sm text-white-50"></i> Draft a Tweet</a></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="container">
                <div class="row">
                    {{#each twitterPost}}
                        <div class="col-md-4">
                            <blockquote class="twitter-tweet">
                                <a href="https://twitter.com/{{user.screen_name}}/status/{{id_str}}">
                                    <div class="loading"></div>
                                </a>
                            </blockquote>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{else}}
        <div>
            <div class="d-flex flex-column text-center">
                <div>
                    <img src='/images/drawing.png' alt="Generic placeholder image" />
                </div>
                <h1 class="h3 mb-1 text-gray-800 mb-3">Create your one-page tweets website</h1>
                <p>Click the button below to get started</p>
                <h1 class="display-5 text-dark"><a href="/post/about" class="btn btn-lg btn-primary shadow-sm">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Create Now</a></h1>
            </div>
        </div>
    {{/if}}
</div>