{{#section 'head'}}
    <!-- Search Engine -->
    <meta name="description"
        content="Quickly super charge your tweets. You can easily design and publish a tweet that exceeds more than 280 characters.">
    <meta name="image" content="{{baseUrl}}/images/profile.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="One Page Tweets">
    <meta itemprop="description"
        content="Quickly super charge your tweets. You can easily design and publish a tweet that exceeds more than 280 characters.">
    <!-- open graph -->
    <meta property="og:title" content="One Page Tweets - Design and personalize your tweets">
    <meta property="og:type" content="product">
    <meta property="og:description"
        content="Quickly super charge your tweets. You can easily design and publish a tweet that exceeds more than 280 characters.">
    <meta property="og:url" content="{{baseUrl}}">
    <meta property="og:image" content="{{baseUrl}}/images/profile.png">
    <meta property="og:image:alt" content="opt">
    <!-- twitter -->
    <meta name="twitter:title" content="One Page Tweets - Design and personalize your tweets">
    <meta name="twitter:description"
        content="Quickly super charge your tweets. You can easily design and publish a tweet that exceeds more than 280 characters.">
    <meta name="twitter:image" content="{{baseUrl}}/images/profile.png">
    <meta name="twitter:site" content="@onepagetweets">
    <meta name="twitter:creator" content="@onepagetweets">
{{/section}}
{{#section 'scripts'}}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="application/javascript" defer src="/js/pages/home/landing.js"></script>
{{/section}}
<div class="custom--landing">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-xl-6 offset-xl-1 order-2 mb-5 mb-md-0">
                <div class="p-3 d-flex justify-content-center">
                    {{#if username}}
                        <div class="col-sm custom--twitter">
                            <a class="twitter-timeline" href="https://twitter.com/{{username}}?ref_src=twsrc%5Etfw">
                                <div class="custom--loading"></div>
                            </a>
                        </div>
                    {{else}}
                        <div class="col-sm custom--twitter">
                            <a class="twitter-timeline" href="https://twitter.com/onepagetweets?ref_src=twsrc%5Etfw">
                                <div class="custom--loading"></div>
                            </a>
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="col-12 col-xl-5 order-xl-1 order-1 my-5">
                <div class="text-center">
                    <h3 class="text-uppercase mb-4">
                        <a href="/" class="custom--landingLogo">
                            <img class="img mt-1" src="/images/profile.png" width="100" height="100" />
                            One Page Tweets
                        </a>
                    </h3>
                    <h1 class="display-5 mb-3 custom--h1">
                        Design, and publish more words with Onepagetweets.com
                    </h1>
                    <p class="mb-4 text-desc">
                        Quickly super charge your tweets. You can easily design and publish a tweet that exceeds more
                        than 280 characters.
                    </p>
                    <a class="btn btn-lg btn-primary mb-5 font-weight-bolder" style="font-size:1.5em;"
                        href="/auth/twitter"><i class='fab fa-twitter'></i> Sign in with Twitter</a>
                    <p class="badges">
                        <a href="/" class="badge badge-pill custom--badge
                                {{#eq username undefined}}
                                    badge-primary
                                {{else}}
                                    badge-secondary
                                {{/eq}}">
                            @onepagetweets
                        </a>
                        {{#each sampleAccounts}}
                            <a href="/?u={{value}}" class="badge badge-pill custom--badge
                                {{#eq ../username value}}
                                    badge-primary
                                {{else}}
                                    badge-secondary
                                {{/eq}}">
                                {{label}}
                            </a>
                        {{/each}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>