<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow fixed-top">
    <div class="container">
        <a class="navbar-brand text-primary" href="/">
            OnePageTweets
        </a>
        <!-- Display user menu -->
        {{#if user}}
            <ul class="navbar-nav ml-auto">
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="javascript:void(0)" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                            {{#if user.profile.name}}
                                {{user.profile.name}}
                            {{else if user.email}}
                                {{user.email}}
                            {{else}}
                                {{user.id}}
                            {{/if}}
                        </span>
                        {{#if user.profile.picture}}
                            <img class="img-profile rounded-circle" src="{{user.profile.picture}}" />
                        {{/if}}
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/account">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            My Account
                        </a>
                        {{#isTruthy user.isAdmin}}
                            <a class="dropdown-item" href="/admin/dashboard">
                                <i class="fas fa-mask fa-sm fa-fw mr-2 text-gray-400"></i>
                                Admin
                            </a>
                        {{/isTruthy}}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout" data-turbolinks="false">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        {{/if}}
    </div>
</nav>
<!-- End of Topbar -->